<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Vitae - Julia Ferreiro</title>
    <link rel="stylesheet" href="app.component.css">
</head>
<body>
    <header>
        <h1 class="titulo">
            Julia Ferreiro
        </h1>

        <div class="imagen">
          <img src="./img/fotito.jpg" alt="" width="400" height="490">
        </div>
    </header>

    <div class="textoopa"> 
      <div class="section">
          <h2 class="section-title"> Contact information</h2>
          <div class="section-content">
            <p>Phone: 54 3548 63-8401.</p>
            <p>Mail: juliaferreiro235@gmail.com</p>
            <p>Nationality: Argentina.</p>
          </div>
        </div>
      
        <div class="section">
          <h2 class="section-title"> Personal information </h2>
          <div class="section-content">
            <p>Date of birth: 04/14/2007.</p>
            <p>Gender: Female.</p>
          </div>
        </div>
      
        <div class="section">
          <h2 class="section-title"> Education</h2>
          <div class="section-content">
            <p>Complete primary school.</p>
            <p>Secondary: 03/01/2019.</p>
          </div>
        </div>
      
        <div class="section">
          <h2 class="section-title"> Experiences</h2>
          <div class="section-content">
            <ul>
              <li>Olympics of history.</li>
              <li>Olympic of astronomy.</li>
              <li>CoderZ.</li>
              <li>Cybersecurity Conference.</li>
              <li>ISPC fullstack development course</li>
            </ul>
          </div>
        </div>
      
        <div class="section">
          <h2 class="section-title">Skills</h2>
          <div class="section-content">
            <ul>
              <li>Python Programming.</li>
              <li>Web development with HTML and CSS.</li>
              <li>Leadership.</li>
              <li>Effective communication.</li>
            </ul>
          </div>
        </div>

        <div class="section">
          <h2 class="section-title">Languages</h2>
          <div class="section-content">
            <ul>
              <li>Spanish.</li>
              <li>Basic English.</li>
            </ul>
          </div>
        </div>
      
        <div class="section">
          <h2 class="section-title">Work experience</h2>
          <div class="section-content">
            <p>None.</p>
          </div>
        </div>
      </div>
    <footer>
        <div class="bubbles">
            <div class="textofooter">© 2023 Julia Ferreiro. All rights reserved.</div>
            <div class="bubble bubble1"></div>
            <div class="bubble bubble2"></div>
            <div class="bubble bubble3"></div>
            <div class="bubble bubble4"></div>
            <div class="bubble bubble5"></div>
        </div>
    </footer>
</body>