<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Vitae - Julia Ferreiro</title>
    <link rel="stylesheet" href="app.component.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <header>
      
        <h1 class="titulo">
            Julia Ferreiro
        </h1>

        <div>
          <img src="C:\Users\usuario\Documents\GitHub\CurriculumVitae\CurriculumVitae\src\assets\imagenes\1693325276760.jfif" alt="" width="250" height="270" class="imagen">
        </div>
    </header>
    <div class="rectangulo">

      <div class="section1">
        <h3 class="section-title1"> Contact information</h3>
        <div class="section-content1">
          <p>Phone: 54 3548 63-8401.</p>
          <p>Mail: juliaferreiro235@gmail.com</p>
          <p>Nationality: Argentina.</p>
        </div>
      </div>

      <div class="section">
        <h3 class="section-title1">Languages</h3>
        <div class="section-content1">           
            <p>Spanish.</p>
            <p>Basic English.</p>
        </div>
      </div>
    
    </div>
    <div class="textoopa"> 
        <div class="section">
          <h2 class="section-title"> Contact information</h2>
          <div class="section-content">
            <p>Phone: 54 3548 63-8401.</p>
            <p>Mail: juliaferreiro235@gmail.com</p>
            <p>Nationality: Argentina.</p>
          </div>
        </div>
      
        <div class="section">
          <h2 class="section-title"> Personal information </h2>
          <div class="section-content">
            <p>Date of birth: 04/14/2007.</p>
            <p>Gender: Female.</p>
          </div>
        </div>
      
        <div class="section">
          <h2 class="section-title"> Education</h2>
          <div class="section-content">
            <p>Complete primary school.</p>
            <p>Secondary: 03/01/2019.</p>
          </div>
        </div>
      </div>
      <div class="textoopa1">
        <div class="section">
          <h2 class="section-title"> Experiences</h2>
          <div class="section-content">
              <p>Olympics of history.</p>
              <p>Olympic of astronomy.</p>
              <p>CoderZ.</p>
              <p>Cybersecurity Conference.</p>
              <p>ISPC fullstack development course</p>
          </div>
        </div>
      
        <div class="section">
          <h2 class="section-title">Skills</h2>
          <div class="section-content">        
              <p>Python Programming.</p>
              <p>Web development with HTML and CSS.</p>
              <p>Leadership.</p>
              <p>Effective communication.</p>
          </div>
        </div>


        <div class="section">
          <h2 class="section-title">Work experience</h2>
          <div class="section-content">
            <p>None.</p>
          </div>
        </div>
      </div>
    <footer>
        <div class="bubbles">
            <div class="textofooter">© 2023 Julia Ferreiro. All rights reserved.</div>
            <div class="bubble bubble1"></div>
            <div class="bubble bubble2"></div>
            <div class="bubble bubble3"></div>
            <div class="bubble bubble4"></div>
            <div class="bubble bubble5"></div>
        </div>
    </footer>
</body>